:root {
  --header: #3E6FD8;           
  --acento: #D4A017;   
  --fondo: #F4F7FB;            
  --fondocomponente: #E3E8F0;     
  --bordes: #74A4FF;       
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    height: 5%;
    display: flex;
    align-items: center;
    padding: 0 5% 0 5%;
    background-color: var(--header);
}

header a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-family: Helvetica;
}

header a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

header a:active{
    background-color: rgba(255, 255, 255, 0.4);
}

main{
    height: 100%;
    width: 100%;
    background-color: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset{
    height: 40%;
}